body, table, td, select, textarea, input {
  color: #212121; }

a {
  text-decoration: none;
  color: #0A92FA; }

a:hover {
  text-decoration: underline; }

a:active {
  color: #026CCF; }

[data-cwid="layout_user_dropdown_menu"] .CwButton-innerLightActive {
  width: 64px;
  justify-content: flex-end; }

.core-popperTooltip {
  background-color: #383838;
  color: #000000;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3); }
  .core-popperTooltip .core-tooltipLabel {
    color: #CCCCCC; }

.core-popperTooltipInverse {
  background: #000000;
  color: #212121;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3); }

.Calendar-calendar .Header-header {
  display: flex !important;
  background-color: transparent !important;
  position: static !important; }

.CwButton-rightIcon {
  padding-left: 0; }

.CwDatePicker-datePickerRoot .Calendar-calendar .CwImage-cursor {
  width: 18px;
  height: 18px; }

.CwDatePicker-datePickerRoot .Calendar-calendar .Header-header {
  border-bottom-style: none; }

.CwDialog-header {
  font-weight: 500;
  line-height: 21px; }

.CwDialog-buttons {
  position: relative;
  top: 8px;
  left: 8px; }
  .CwDialog-buttons .CwButton-innerLightActive,
  .CwDialog-buttons .CwButton-innerLightDisabled {
    font-weight: 500;
    font-size: 14px;
    padding: 0 18px; }

.CwDialog-buttons > * {
  margin-right: 0; }

.CwDialog-modal {
  z-index: 102 !important; }
  .CwDialog-modal .CwTriggerField-triggerField .isvg, .CwDialog-modal .CwTriggerField-triggerField svg {
    width: 18px;
    height: 18px; }

.CwDialog-wrap {
  overflow: visible !important; }

.CwDropdown-dropDown {
  z-index: 2; }

.layout-topNavRightContainer .CwDropdown-dropDown {
  position: absolute;
  width: 210px;
  top: 40px !important;
  left: 32px !important; }

.CwShell-cwShell,
.CwShell-cwShell > div {
  height: 100%; }

.CwShellTopNav-cwShellTopNav {
  z-index: 9; }

.CwShellLeftNav-expansionIconContainer {
  display: none; }

.CwShellLeftNavButton-cwShellLeftNavLinkContainer {
  position: fixed !important; }

.CwTreeViewNode-icon {
  width: 18px !important;
  height: 18px !important; }

::-webkit-scrollbar {
  background-color: #000000; }

::-webkit-scrollbar-thumb {
  background-color: #CCCCCC;
  border: 4px solid transparent;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: content-box; }

::-webkit-scrollbar-thumb:hover {
  background-color: #999999; }

::-webkit-scrollbar-corner {
  background-color: #000000; }

.CwCheckBox-wrap:focus .CwCheckBox-control label,
.CwCheckBox-wrap:focus .CwCheckBox-controlDisabled label {
  color: unset !important;
  outline-color: unset;
  outline-style: none; }

.CwDropdownMulti-dropDownItem,
.CwDropdownMulti-dropDownHighlightedItem {
  padding-right: 8px; }

.CwAutoDashboard-dashboardContainer {
  background-color: #323232; }

.CwAutoPod-pod {
  background-color: #FFFFFF; }

.CwCheckBoxListWithLabel-label {
  color: #7D7D7D; }

.CwCheckBoxListWithLabel-box {
  border-color: #CCCCCC; }

.CwCheckBoxListWithLabel-optionsItem {
  color: #212121; }

.CwDropdown-dropdown {
  background: rgb(177, 162, 162);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3); }

.CwDropdown-item {
  fill: #212121; }

.CwDropdown-item:hover,
.CwDropdown-highlighted {
  background-color: #026CCF;
  color: #000000;
  fill: #000000; }

.CwDropdownMulti-dropDownItem label {
  color: #212121; }

CwDropdownMulti-dropDownHighlightedItem label {
  color: #000000; }

.CwDropdownWithLabel-fieldLabel.CwDropdownWithLabel-focused {
  color: #026CCF; }

.CwDropdownWithLabel-fieldLabel.CwDropdownWithLabel-error {
  color: #CA001A; }

.CwDropdownWithLabel-textFieldMessage.CwDropdownWithLabel-error {
  color: #CA001A; }

.CwDropdownWithLabel-fieldLabel {
  color: #7D7D7D; }

.CwDropdownWithLabel-textFieldContainer .CwTriggerField-triggerField .isvg, .CwDropdownWithLabel-textFieldContainer .CwTriggerField-triggerField svg {
  width: 24px;
  height: 24px; }

.CwValueBox-cwValueBox {
  border-color: #E6E6E6; }

.CwFeedback-informational {
  border-color: #0A92FA; }
  .CwFeedback-informational .CwFeedback-feedbackIcon {
    fill: #0A92FA; }

.CwFeedback-positive {
  border-color: #549C05; }
  .CwFeedback-positive .CwFeedback-feedbackIcon {
    fill: #549C05; }

.CwFeedback-warning {
  border-color: #EB7B18; }
  .CwFeedback-warning .CwFeedback-feedbackIcon {
    fill: #EB7B18; }

.CwFeedback-error {
  border-color: #CA001A; }
  .CwFeedback-error .CwFeedback-feedbackIcon {
    fill: #CA001A; }

.CwFeedback-actionButtonContainer .CwButton-innerLightActive {
  fill: #7D7D7D !important; }

.CwFeedback-actionButtonContainer .CwButton-innerLightActive:hover {
  fill: #026CCF !important; }

.CwNavTab-tab {
  color: #212121;
  border-bottom-color: #E6E6E6; }

.CwNavTab-tab:hover {
  color: #026CCF; }

.CwNavTab-tab.CwNavTab-active {
  color: #026CCF;
  border-top-color: #E6E6E6;
  border-right-color: #E6E6E6;
  border-bottom-color: #000000;
  border-left-color: #E6E6E6; }

.CwPopOutModal-modal {
  background-color: #000000; }

.CwPopOutModal-bottomActionContainer {
  background-color: #000000; }

.CwResizableBox-resizeGuide.CwResizableBox-top {
  border-top-color: #212121; }

.CwResizableBox-resizeGuide.CwResizableBox-right {
  border-left-color: #212121; }

.CwResizableBox-resizeGuide.CwResizableBox-bottom {
  border-top-color: #212121; }

.CwResizableBox-resizeGuide.CwResizableBox-left {
  border-left-color: #212121; }

.CwTile-tileBg {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  background-color: #000000;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08); }

.CwTile-tileBg:hover {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.28);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.28); }

.CwTile-tileBg.CwTile-mouseDown {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08); }

.CwTile-tileActionsContainer .CwButton-innerLightActive {
  padding: 0 0 0 8px !important; }

.CwTile-tileActionsContainer .CwButton-innerLightActive div {
  width: 18px;
  height: 18px;
  fill: #7D7D7D; }

.CwTile-tileActionsContainer .CwButton-innerLightActive:hover div {
  fill: #026CCF; }

.CwTile-tileActionsContainer.CwTile-left .CwButton-innerLightActive {
  padding: 0 8px 0 0 !important; }

.CwTile-tile:hover .CwTile-tileActionsContainer {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  display: block;
  opacity: 1; }

.CwTile-tileHeader {
  border-bottom-color: #E6E6E6; }

.CwTile-tilePanel {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  background-color: #000000;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0; }

.tilePanelTrigger:hover + .CwTile-tilePanel {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  visibility: visible;
  opacity: 1; }

.CwTile-loaderPathBg {
  stroke: #E6E6E6; }

.CwTile-loaderPath {
  stroke: #026CCF; }

.CwTile-noDataMessage {
  color: #7D7D7D; }

.CwSelectList-option.CwSelectList-active {
  border-left-color: #026CCF; }

.CwSelectList-item {
  color: #212121; }

.CwSelectList-item:hover {
  color: #026CCF; }

.CwSelectList-item.CwSelectList-active {
  border-left-color: #026CCF;
  color: #026CCF; }

.CwSelectList-expandArrow {
  fill: #212121; }

.CwSelectList-expandArrow:hover {
  fill: #026CCF; }

.CwSelectList-expandArrow.CwSelectList-active {
  fill: #026CCF; }

.CwSelectList2-option {
  color: #212121; }

.CwSelectList2-option:hover {
  color: #026CCF; }

.CwSelectList2-selected {
  color: #026CCF; }

.CwSelectList3-cwSelectList3 {
  border-color: #CCCCCC; }
  .CwSelectList3-cwSelectList3 .CwSelectList3-buttonBG {
    background-color: #000000; }

.CwSelectList3-clearFilter:hover svg {
  fill: #026CCF; }

.CwSelectList3-option:not(.CwSelectList3-active):hover {
  background-color: #323232; }

.CwSelectList3-active {
  background-color: #E6E6E6; }

.CwTextFieldWithLabel-fieldLabel.CwTextFieldWithLabel-focused {
  color: #026CCF; }

.CwTextFieldWithLabel-fieldLabel.CwTextFieldWithLabel-error {
  color: #CA001A; }

.CwTextFieldWithLabel-textFieldMessage.CwTextFieldWithLabel-error {
  color: #CA001A; }

.CwTextFieldWithLabel-fieldLabel {
  color: #7D7D7D; }

.CwTextFieldWithLabel-textField {
  color: #212121; }

.CwTextFieldWithLabel-placeholder {
  color: #B0B0B0; }

.CwTextAreaWithLabel-fieldLabel.CwTextAreaWithLabel-focused {
  color: #026CCF; }

.CwTextAreaWithLabel-fieldLabel.CwTextAreaWithLabel-error {
  color: #CA001A; }

.CwTextAreaWithLabel-textAreaMessage.CwTextAreaWithLabel-error {
  color: #CA001A; }

.CwTextAreaWithLabel-fieldLabel {
  color: #7D7D7D; }

.CwTextAreaWithLabel-textArea {
  color: #212121; }

.CwTextAreaWithLabel-placeholder {
  color: #B0B0B0; }

.CwTimeFieldWithLabel-fieldLabel.CwTimeFieldWithLabel-focused {
  color: #026CCF; }

.CwTimeFieldWithLabel-fieldLabel {
  color: #7D7D7D; }

.CwToggleWithLabel-label {
  color: #7D7D7D; }

.CwToolbar-cwToolbar {
  background-color: #000000;
  border-top-color: #E6E6E6;
  border-bottom-color: #E6E6E6; }

.CwTreeDialog-treeDialog .CwDialog-modal {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important; }

.CwTreeDialog-treeViewContainer {
  border: thin solid #E6E6E6; }

.CwTreeDialog-treeViewSearchBg {
  background-color: #000000; }

.CwTreeDialog-treeViewClearFilterText:hover {
  cursor: pointer; }
  .CwTreeDialog-treeViewClearFilterText:hover .isvg, .CwTreeDialog-treeViewClearFilterText:hover svg {
    fill: #026CCF; }

.CwTreeDropdown-treeDropdown {
  background-color: #323232;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3); }
  .CwTreeDropdown-treeDropdown ::-webkit-scrollbar {
    background-color: #323232; }

.CwTreeDropdown-hideIcons .CwTreeViewNode-item > div {
  display: none; }

.CwTreeDropdown-hideIcons .CwTreeViewNode-label {
  margin-left: 0; }

.CwTreeDropdown-buttonBG {
  background-color: #323232; }

.CwWizard-toolbar {
  background-color: #026CCF; }

.CwWizard-closeButton svg {
  fill: #000000; }

.DataField-toggleContainer {
  color: #7D7D7D; }

.DataField-upperContainer label {
  color: #7D7D7D; }

.DataField-lowerContainerEdit .CwTriggerField-triggerField input {
  padding-left: 0;
  padding-bottom: 0; }

.DataField-tooltipButton .CwButton-innerLightActive {
  padding-right: 0;
  width: 18px;
  height: 24px; }

.DataField-viewButton {
  color: #0A92FA; }

.DataField-viewButton:hover {
  color: #026CCF; }

.DataField-editButton {
  fill: #212121;
  color: #212121; }

.DataField-editButton:hover {
  fill: #026CCF;
  color: #026CCF; }

.DataField-editButtonDisabled {
  fill: #7D7D7D !important;
  color: #7D7D7D !important; }

.DataField-textArea {
  border-color: #026CCF; }

.DataField-toggleButtonsContainer .CwToggleWithLabel-toggleButton {
  margin-top: 0px; }

.D3BarChart-barGraph [xAxis=true] path,
.D3BarChart-barGraph [yAxis=true] path {
  stroke: #CCCCCC; }

.D3BarChart-barGraph [xAxis=true] g text,
.D3BarChart-barGraph [yAxis=true] g text {
  fill: #CCCCCC; }

.D3LineChart-gridLines line {
  stroke: #323232; }

.D3LineChart-dataPointInfo {
  background-color: #323232;
  border-color: #7D7D7D; }
  .D3LineChart-dataPointInfo .D3LineChart-dataPointInfoTitle {
    color: #212121; }
  .D3LineChart-dataPointInfo .D3LineChart-dataPointInfoValue {
    color: #7D7D7D; }

.D3LineChart-axisLabel {
  fill: #7D7D7D; }

.D3LineChart-axis line {
  stroke: #323232; }

.D3LineChart-axis path {
  stroke: #323232; }

.D3LineChart-axis text {
  fill: #7D7D7D; }

.D3LineChart-plotLine {
  stroke: #026CCF;
  stroke-width: 1px; }

.D3LineChart-emptyDataContainer {
  color: #7D7D7D; }

.Dialogs-paramsContainer .CwTextFieldWithLabel-fieldLabel {
  color: #212121;
  margin-top: 20px; }

.Dialogs-paramsContainer .CwTextFieldWithLabel-focused {
  color: #026CCF; }

.Dialogs-closeDialogButton div, .Dialogs-closeDialogButton .isvg, .Dialogs-closeDialogButton svg {
  width: 18px;
  height: 18px; }

.Dialogs-fieldLabel {
  color: #7D7D7D; }

.Dialogs-fieldContainer .CwTriggerField-trigger {
  top: 0; }

.Dialogs-fieldIcon .isvg, .Dialogs-fieldIcon svg {
  width: 18px;
  height: 18px; }

.Dialogs-focused .isvg, .Dialogs-focused svg {
  fill: #026CCF; }

.Dialogs-error {
  color: #CA001A; }
  .Dialogs-error .isvg, .Dialogs-error svg {
    fill: #CA001A; }

.Dialogs-subHeader3 {
  color: #7D7D7D; }

.Dialogs-radioButtonDialogContent .CwRadioButtonGroup-container .CwRadioButtonGroup-column .CwPodCol-podColWithoutSectionHeader > * {
  margin-bottom: 24px; }

.Dialogs-button .CwButton-innerLightActive {
  font-weight: 500;
  font-size: 14px; }

.Dialogs-messageDialog .CwDialog-modal {
  z-index: 201 !important; }

.ColumnChooserDialog-columnListItem {
  border-color: #E6E6E6;
  background-color: #000000; }

.ColumnChooserDialog-dragIconContainer .isvg, .ColumnChooserDialog-dragIconContainer svg {
  fill: #026CCF; }

.ColumnChooserDialog-rightColumn .ToggleButton-switch {
  width: 24px;
  height: 12px; }

.ColumnChooserDialog-rightColumn .ToggleButton-slider:before {
  width: 8px;
  height: 8px; }

.ColumnChooserDialog-rightColumn input:checked + .ToggleButton-slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px); }

.ColumnChooserDialog-dragOverlay {
  background-color: #323232;
  -webkit-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.18);
  -moz-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.18);
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.18); }

.ColumnChooserDialog-sortPrefContainer .CwTriggerField-trigger {
  top: 0; }

.ColumnChooserDialog-disabledLabel {
  color: #E6E6E6; }

.alertingCustomCells-failed {
  color: #CA001A;
  fill: #CA001A; }

.alertingCustomCells-success {
  color: #549C05;
  fill: #549C05; }

.alertingCustomCells-warning {
  color: #EB7B18;
  fill: #EB7B18; }

.alertingCustomCells-popperArrow {
  border-color: transparent transparent #000000 transparent; }

.monitoringCustomCells-failed {
  color: #CA001A;
  fill: #CA001A; }

.monitoringCustomCells-success {
  color: #549C05;
  fill: #549C05; }

.monitoringCustomCells-warning {
  color: #EB7B18;
  fill: #EB7B18; }

.monitoringCustomCells-popperArrow {
  border-color: transparent transparent #000000 transparent; }

.ToggleButton-slider {
  background-color: #CCCCCC; }

input:checked + .ToggleButton-slider {
  background-color: #026CCF; }

input:focus + .ToggleButton-slider {
  box-shadow: 0 0 1px #026CCF; }

.ToggleButton-slider:before {
  background-color: #000000; }

.ClientLocationDropdownWithLabel-fieldLabel {
  color: #7D7D7D; }

.ClientLocationDropdownWithLabel-focused {
  color: #026CCF; }
  .ClientLocationDropdownWithLabel-focused .isvg, .ClientLocationDropdownWithLabel-focused svg {
    fill: #026CCF; }
  .ClientLocationDropdownWithLabel-focused input {
    box-shadow: 0 2px 0px 0px #026CCF; }

.ClientLocationDropdownWithLabel-error {
  color: #CA001A; }

.ChangePasswordDialog-helperText {
  color: #999999; }

[data-cwid="default_installer_dialog_installer_type_label"] {
  margin-top: 0; }

.browse-container {
  background-color: #000000; }

.companyInfo-fieldGroup .CwTextFieldWithLabel-fieldLabel {
  margin-top: 0; }

.companyInfo-label {
  color: #7D7D7D; }

.companyInfo-textAreaContainer label {
  margin-top: 0; }

.companyInfo-locateIcon .isvg, .companyInfo-locateIcon svg {
  width: 16px;
  height: 16px;
  fill: #026CCF; }

.companyInfo-checkboxGroup {
  color: #7D7D7D; }

[data-cwid="browse_company_license_management_add_edit_dialog_field_name_label"] {
  color: #7D7D7D; }

[data-cwid="browse_company_license_management_grid"] {
  border-bottom: 1px solid #E6E6E6; }

.companyPasswords-dialog .CwDropdownWithLabel-fieldLabel {
  margin-top: 16px; }

.CollapsableNav-container {
  background-color: #323232;
  border-right-color: #E6E6E6; }
  .CollapsableNav-container ::-webkit-scrollbar {
    background-color: #323232; }

.CollapsableNav-pinButton .CwButton-innerLightActive {
  padding: 0px 2px; }

.CollapsableNav-list .CwSelectList-option {
  padding: 0px 20px;
  margin: 4px 0px;
  line-height: 24px;
  font-weight: 500; }

[data-cwid="extra_data_fields_modal_background"] .CwPopOutModal-modalExpanded .CwPopOutModal-modalHeader .CwPopOutModal-title {
  margin-left: 16px; }

[data-cwid="extra_data_fields_modal_background"] .CwPopOutModal-modalExpanded [data-cwid="extra_data_fields_section_dropdown_field"] {
  margin-left: 16px; }

[data-cwid="extra_data_fields_modal_background"] .CwPopOutModal-modalExpanded .extraDataFields-dataFieldsContainer {
  margin-left: 16px; }

.extraDataFields-extraHeaderButtons [data-cwid="extra_data_fields_edit_button"] .CwButton-innerLightActive svg {
  fill: #026CCF; }

.patchManagerDashboard-container {
  border-top-color: #E6E6E6;
  background-color: #323232; }

.PatchingTile-tileBg {
  transition: all 0.25s ease;
  background-color: #000000;
  -webkit-box-shadow: 0 2px 4px 0 rgba(10, 10, 10, 0.08);
  box-shadow: 0 2px 4px 0 rgba(10, 10, 10, 0.08); }

.PatchingTile-tileBg:hover {
  transition: all 0.25s ease;
  -webkit-box-shadow: 0 2px 10px 0 rgba(10, 10, 10, 0.28);
  box-shadow: 0 2px 10px 0 rgba(10, 10, 10, 0.28); }

.PatchingTile-tileBg.PatchingTile-mouseDown {
  transition: all 0.25s ease;
  -webkit-box-shadow: 0 2px 4px 0 rgba(10, 10, 10, 0.08);
  box-shadow: 0 2px 4px 0 rgba(10, 10, 10, 0.08); }

.OverallComplianceTile-complianceBarBackground {
  border-bottom-color: #E6E6E6; }

.ThirdPartyComplianceTile-complianceBarBackground {
  border-bottom-color: #E6E6E6; }

.DeviceFlagsCell-success {
  fill: #549C05; }

.DeviceFlagsCell-failed {
  fill: #CA001A; }

[data-cwid="browse_network_devices_grid_toolbar_button_device_commands_dialog_delete_device_button_yes"] div {
  color: #026CCF; }

.enableProbeButton-enableProbeImage svg {
  fill: #B0B0B0; }

.siteInfo-fieldGroup .CwTextFieldWithLabel-fieldLabel {
  margin-top: 0; }

.siteInfo-label {
  color: #7D7D7D; }

.siteInfo-textAreaContainer label {
  margin-top: 0; }

.siteInfo-locateIcon .isvg, .siteInfo-locateIcon svg {
  width: 16px;
  height: 16px;
  fill: #026CCF; }

.siteInfo-contactDropdown .CwDropdownWithLabel-fieldLabel,
.siteInfo-routerDropdown .CwDropdownWithLabel-fieldLabel {
  margin: 0 0 8px 0; }

.computerScreen-overviewContainer {
  background-color: #323232; }

.computerScreen-formFieldLabel {
  color: #7D7D7D; }

.CwRadioButtonGroup-radioButton {
  padding-right: 16px; }

.CwRadioButton-control input:checked ~ .CwRadioButton-controlIndicator:after,
.CwRadioButton-controlDisabled input:checked ~ .CwRadioButton-controlIndicator:after,
.CwRadioButton-control input:checked ~ .CwRadioButton-controlIndicatorInvalid:after,
.CwRadioButton-controlDisabled input:checked ~ .CwRadioButton-controlIndicatorInvalid:after,
.CwRadioButton-control .CwRadioButton-controlIndicatorInvalid:after,
.CwRadioButton-controlDisabled .CwRadioButton-controlIndicatorInvalid:after {
  top: 3px !important;
  left: 3px !important; }

.computerScreen-commentDialogPriorityContainer .CwPodCol-podColWithoutSectionHeader > * {
  margin-bottom: 0; }

.computerScreen-commentDialogPriorityContainer .CwPodRow-podRow > div:nth-child(n+2) {
  margin-left: 0; }

.computerScreen-commentDialogPriorityContainer .CwPodRow-podRow {
  display: block; }
  .computerScreen-commentDialogPriorityContainer .CwPodRow-podRow .CwPodCol-podCol {
    display: inline-block;
    flex-grow: 0; }
  .computerScreen-commentDialogPriorityContainer .CwPodRow-podRow .CwPodCol-podCol:nth-child(1) {
    width: 68px; }
  .computerScreen-commentDialogPriorityContainer .CwPodRow-podRow .CwPodCol-podCol:nth-child(2) {
    width: 92px; }
  .computerScreen-commentDialogPriorityContainer .CwPodRow-podRow .CwPodCol-podCol:nth-child(3) {
    width: 53px; }

.computerScreen-helperText {
  color: #7D7D7D; }

.maxTileNetworkProbe-netProbeMaxTileContainer .MaxTileHeader-container {
  border-bottom: solid 2px #E6E6E6; }

.DashboardSettingsDialog-columnListItem {
  border-color: #E6E6E6;
  background-color: #000000; }

.DashboardSettingsDialog-dragIconContainer .isvg, .DashboardSettingsDialog-dragIconContainer svg {
  fill: #026CCF; }

.DashboardSettingsDialog-toggleButtonContainer .ToggleButton-switch {
  width: 24px;
  height: 12px; }

.DashboardSettingsDialog-toggleButtonContainer .ToggleButton-slider:before {
  width: 8px;
  height: 8px; }

.DashboardSettingsDialog-toggleButtonContainer input:checked + .ToggleButton-slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px); }

.DashboardSettingsDialog-dragOverlay {
  background-color: #323232;
  -webkit-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.18);
  -moz-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.18);
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.18); }

.normalTiles-normalTiles {
  background: #323232; }

.normalTiles-ignoreRemoveLastPadding .CwTile-tile {
  padding-right: 20px !important; }

.MonitorsTile-monitorInfo,
.ScriptsTile-infoPopper,
.CommandsTile-commandInfo {
  background-color: #000000;
  border-color: #E6E6E6;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3); }

.MonitorsTile-monitorInfoArrowBg,
.ScriptsTile-infoArrowBg,
.CommandsTile-commandInfoArrowBg {
  border-color: transparent transparent transparent #CCCCCC; }

.MonitorsTile-monitorInfoArrow,
.ScriptsTile-infoArrow,
.CommandsTile-commandInfoArrow {
  border-color: transparent transparent transparent #000000; }

.MonitorsTile-rowIconTarget:hover svg,
.ScriptsTile-rowIconTarget:hover svg {
  fill: #026CCF; }

.ScriptsTile-fullDiagnosticContainer {
  background-color: #E6E6E6; }

.AlertsTile-alertAgeCell,
.StorageTile-storageInfoMessage,
.MonitorsTile-ageColumn,
.MonitorsTile-timestamp,
.SoftwareTile-panelNoResults,
.SoftwareTile-softwareDateCell,
.SoftwareTile-tileFooter,
.SystemTile-label,
.ScriptsTile-popperTimestamp {
  color: #7D7D7D; }

.HardwareTile-hardwareInfoLabel {
  color: #212121;
  font-weight: 500; }

.PatchingTile-patchingInfoGroup .PatchingTile-value {
  color: #383838; }

.ServicesTile-servicesCountContainer .ServicesTile-number {
  color: #CA001A; }

.SoftwareTile-blacklisted td:not(:last-child) {
  color: #CA001A;
  fill: #CA001A; }

.PatchingTile-d3PieChartWarning {
  fill: #EB7B18;
  stroke: #EB7B18; }

.AlertsTile-warning,
.PatchingTile-warning,
.CommandsTile-warning,
.MonitorsTile-warning,
.NetworkProbeTile-warning {
  color: #EB7B18;
  fill: #EB7B18; }

.PatchingTile-d3PieChartFailed,
.ThirdPartyPatchingTile-d3PieChartFailed {
  fill: #CA001A;
  stroke: #CA001A; }

.AlertsTile-failed,
.PatchingTile-failed,
.ThirdPartyPatchingTile-failed,
.CommandsTile-failed,
.ServicesTile-failed,
.MonitorsTile-failed,
.NetworkProbeTile-failed,
.ScriptsTile-failed {
  color: #CA001A;
  fill: #CA001A; }

.PatchingTile-d3PieChartSuccess,
.ThirdPartyPatchingTile-d3PieChartSuccess {
  fill: #549C05;
  stroke: #549C05; }

.PatchingTile-success,
.ThirdPartyPatchingTile-success,
.MonitorsTile-success,
.NetworkProbeTile-success,
.ScriptsTile-success {
  color: #549C05;
  fill: #549C05; }

.PatchingTile-d3PieChartDisabled,
.ThirdPartyPatchingTile-d3PieChartDisabled {
  fill: #B0B0B0; }

.AlertsTile-info,
.ScriptsTile-info {
  color: #0A92FA;
  fill: #0A92FA; }

.ServicesTile-serviceRow:hover div, .ServicesTile-serviceRow:hover svg, .ServicesTile-serviceRow:hover td {
  color: #026CCF;
  fill: #026CCF; }

.ScriptsTile-rightActionsContainer .CwButton-innerLightActive {
  font-size: 12px; }

.StorageTile-rightActionsContainer .CwButton-innerLightActive {
  font-size: 12px; }

.maxTileAlerts-maxTileAlerts {
  background-color: #323232; }

.maxTileAlerts-container {
  background-color: #000000;
  border-color: #E6E6E6; }

.maxTileAlerts-miniTilesContainer {
  border-color: #E6E6E6; }

.maxTileAlerts-miniTile {
  border-color: #E6E6E6;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.18);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.18); }

.maxTileAlerts-selectListContainer {
  border-right-color: #E6E6E6; }

.maxTileAlerts-resultPane {
  border-top-color: #CCCCCC; }

.maxTileAlerts-resultPaneToolbar .CwNavTab-tab {
  padding: 6px 8px 10px 8px;
  height: 32px; }

.maxTileAlerts-failed {
  color: #CA001A;
  fill: #CA001A; }

.maxTileAlerts-info {
  color: #0A92FA;
  fill: #0A92FA; }

.maxTileAlerts-success {
  color: #549C05;
  fill: #549C05; }

.maxTileAlerts-warning {
  color: #EB7B18;
  fill: #EB7B18; }

.maxTileCommands-maxTileCommands {
  background-color: #323232; }

.maxTileCommands-container {
  background-color: #000000;
  border-color: #E6E6E6; }

.maxTileCommands-selectListContainer {
  border-right-color: #E6E6E6; }

.maxTileCommands-resultPane {
  border-top-color: #CCCCCC; }

.maxTileCommands-resultPaneToolbar .CwNavTab-tab {
  padding: 6px 8px 10px 8px;
  height: 32px; }

.maxTileCommands-failed {
  color: #CA001A;
  fill: #CA001A; }

.maxTileCommands-success {
  color: #549C05;
  fill: #549C05; }

.maxTileExtension-maxTileExtension {
  background-color: #323232; }

.maxTileExtension-container {
  background-color: #000000;
  border-color: #E6E6E6; }

.maxTileHardware-maxTileHardware {
  background-color: #323232; }

.maxTileHardware-header {
  color: #7D7D7D; }

.maxTileHardware-container {
  background-color: #000000;
  border-color: #E6E6E6; }

.maxTileHardware-selectListContainer {
  border-right-color: #E6E6E6; }

.maxTileHardware-tabToolbar .CwNavTab-tab {
  padding: 6px 10px 8px 10px;
  height: 30px;
  top: 2px; }

.maxTileHardware-resultPane {
  border-top-color: #CCCCCC; }

.maxTileMonitors-maxTileMonitors {
  background-color: #323232; }

.maxTileMonitors-container {
  background-color: #000000;
  border-color: #E6E6E6; }

.maxTileMonitors-selectListContainer {
  border-right-color: #E6E6E6; }

.maxTileMonitors-resultPane {
  border-top-color: #CCCCCC; }

.maxTileMonitors-resultPaneToolbar .CwNavTab-tab {
  padding: 6px 8px 10px 8px;
  height: 32px; }

.maxTileMonitors-popperArrow {
  border-color: transparent transparent #000000 transparent; }

.maxTileMonitors-failed {
  color: #CA001A;
  fill: #CA001A; }

.maxTileMonitors-success {
  color: #549C05;
  fill: #549C05; }

.maxTileMonitors-warning {
  color: #EB7B18;
  fill: #EB7B18; }

.maxTileMonitors-dataPointInfo {
  background-color: #323232;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3); }

.maxTileMonitors-graphChartControlsContainer .CwDropdownWithLabel-fieldLabel {
  margin-top: 0; }

.maxTileMonitors-graphChartControlsContainer .CwTriggerField-trigger, .maxTileMonitors-graphChartControlsContainer .CwTriggerField-trigger svg {
  width: 18px !important;
  height: 18px !important; }

.maxTileMonitors-graphChartControlsContainer .CwTriggerField-trigger {
  top: 0; }

.maxTileMonitors-detailsSideNav {
  background-color: #323232; }

.maxTileMonitors-contentTableLabel td {
  color: #026CCF; }

.maxTileMonitors-detailsSideNav ul li a {
  color: #026CCF; }

.NetworkDetails-label {
  color: #7D7D7D; }

.probeCommands-failed {
  color: #CA001A;
  fill: #CA001A; }

.probeCommands-success {
  color: #549C05;
  fill: #549C05; }

.probeCommands-unknown {
  color: #EB7B18;
  fill: #EB7B18; }

.maxTileScripts-maxTileScripts {
  background-color: #323232; }

.maxTileScripts-container {
  background-color: #000000;
  border-color: #E6E6E6; }

.maxTileScripts-selectListContainer {
  border-right-color: #E6E6E6; }

.maxTileScripts-resultsGrid {
  border-top-color: #E6E6E6; }

.maxTileScripts-resultPane {
  border-top-color: #CCCCCC; }

.maxTileScripts-resultPaneToolbar .CwNavTab-tab {
  padding: 6px 8px 10px 8px;
  height: 32px; }

.maxTilePatching-maxTilePatching {
  background-color: #323232; }

.maxTilePatching-container {
  background-color: #000000;
  border-color: #E6E6E6; }

.maxTilePatching-listContainer,
.maxTilePatching-selectListContainer {
  border-right-color: #E6E6E6; }

.maxTilePatching-gridToolbar,
.maxTilePatching-dataPointContainer {
  border-bottom-color: #E6E6E6; }

.maxTilePatching-messagePane,
.maxTilePatching-logDetailsContainer {
  border-top-color: #E6E6E6; }

.maxTilePatching-messageHeader {
  color: #026CCF; }

.maxTilePatching-messageBody {
  color: #212121; }

.maxTilePatching-effectivePolicyHeader {
  color: #026CCF; }

.maxTilePatching-localOverrideEditButton .isvg, .maxTilePatching-localOverrideEditButton svg {
  width: 18px;
  height: 18px; }

.maxTilePatching-policyMembership {
  color: #7D7D7D; }

.maxTilePatching-groupDetailsSubHeader {
  color: #7D7D7D; }

.maxTilePatching-iconedDetailsImage .isvg, .maxTilePatching-iconedDetailsImage svg {
  width: 16px;
  height: 16px;
  fill: #212121; }

.LocalOverrideDialog-approvalHeader {
  color: #7D7D7D; }

.StatusGridCell-status.StatusGridCell-false {
  fill: #CA001A; }

.StatusGridCell-status.StatusGridCell-true {
  fill: #549C05; }

.maxTileServices-maxTileServices {
  background-color: #323232; }

.maxTileServices-container {
  background-color: #000000;
  border-color: #E6E6E6; }

.maxTileServices-selectListContainer {
  border-right-color: #E6E6E6; }

.maxTileServices-resultPane {
  border-top-color: #CCCCCC; }

.maxTileServices-resultPaneToolbar .CwNavTab-tab {
  padding: 6px 8px 10px 8px;
  height: 32px; }

.maxTileServices-classificationIcon {
  stroke: #212121;
  fill: transparent; }

.maxTileServices-filled {
  fill: #212121; }

.maxTileSoftware-maxTileSoftware {
  background-color: #323232; }

.maxTileSoftware-container {
  background-color: #000000;
  border-color: #E6E6E6; }

.maxTileSoftware-selectListContainer {
  border-right-color: #E6E6E6; }

.maxTileSoftware-resultsGrid {
  border-top-color: #E6E6E6; }

.maxTileSoftware-resultPane {
  border-top-color: #CCCCCC; }

.maxTileSoftware-resultPaneToolbar .CwNavTab-tab {
  padding: 6px 8px 10px 8px;
  height: 32px; }

.maxTileStorage-maxTileStorage {
  background-color: #323232; }
  .maxTileStorage-maxTileStorage .CwGrid-row:hover .maxTileStorage-failed,
  .maxTileStorage-maxTileStorage .CwGrid-active .maxTileStorage-failed {
    color: #000000;
    fill: #000000; }
  .maxTileStorage-maxTileStorage .CwGrid-row:hover .maxTileStorage-success,
  .maxTileStorage-maxTileStorage .CwGrid-active .maxTileStorage-success {
    color: #000000;
    fill: #000000; }

.maxTileStorage-container {
  background-color: #000000;
  border-color: #E6E6E6; }

.maxTileStorage-selectListContainer {
  border-right-color: #E6E6E6; }

.maxTileStorage-resultPane {
  border-top-color: #CCCCCC; }

.maxTileStorage-resultPaneToolbar .CwNavTab-tab {
  padding: 6px 8px 10px 8px;
  height: 32px; }

.maxTileStorage-popperArrow {
  border-color: transparent transparent #000000 transparent; }

.maxTileStorage-info .CwProgressBar-foreground {
  background-color: #0A92FA !important; }

.maxTileStorage-failed {
  color: #CA001A;
  fill: #CA001A !important; }
  .maxTileStorage-failed .CwProgressBar-foreground {
    background-color: #CA001A !important; }

.maxTileStorage-success {
  color: #549C05;
  fill: #549C05; }

.maxTileStorage-warning .CwProgressBar-foreground {
  background-color: #EB7B18 !important; }

.maxTileStorage-historyChartControlsContainer .CwDropdownWithLabel-fieldLabel {
  margin-top: 0; }

.maxTileStorage-historyChartControlsContainer .CwTriggerField-trigger, .maxTileStorage-historyChartControlsContainer .CwTriggerField-trigger svg {
  width: 18px !important;
  height: 18px !important; }

.maxTileStorage-historyChartControlsContainer .CwTriggerField-trigger {
  top: 0; }

.maxTileStorage-dataPointInfo {
  background-color: #323232;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3); }

.maxTileSystem-maxTileSystem {
  background-color: #323232; }

.maxTileSystem-header {
  color: #7D7D7D; }

.maxTileSystem-container {
  background-color: #000000;
  border-color: #E6E6E6; }

.maxTileSystem-selectListContainer {
  border-right-color: #E6E6E6; }

[data-cwid="max_tile_system_users_add_user_dialog_username_label"],
[data-cwid="max_tile_system_users_change_password_dialog_password_label"] {
  margin-top: 23px; }

.computerScreen-background > .Header-header {
  background-color: #000000;
  border-bottom-color: #323232;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3); }

.Header-toolbar .CwDropdown-dropDown {
  position: fixed; }

.Header-computerHeaderInfo .Header-computerClientLocation {
  color: #7D7D7D; }

.Header-computerHeaderInfo .Header-computerUser {
  color: #7D7D7D; }
  .Header-computerHeaderInfo .Header-computerUser .CwButton-innerLightActive {
    color: #7D7D7D;
    padding: 0;
    font-size: 14px;
    height: 20px; }
    .Header-computerHeaderInfo .Header-computerUser .CwButton-innerLightActive div {
      height: 18px;
      width: 18px; }
    .Header-computerHeaderInfo .Header-computerUser .CwButton-innerLightActive svg {
      fill: #7D7D7D; }
  .Header-computerHeaderInfo .Header-computerUser .CwButton-innerLightActive:hover svg {
    fill: #026CCF; }
  .Header-computerHeaderInfo .Header-computerUser .CwDropdown-dropDownItem {
    line-height: 16px; }

.Header-headerButton .CwButton-innerLight,
.Header-headerButton .CwButton-innerLightActive,
.Header-navToolbarButtons .CwButton-innerLight,
.Header-navToolbarButtons .CwButton-innerLightActive {
  font-size: 14px !important; }

.Header-searchBoxContainer .Header-searchInput::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #CCCCCC;
  font-size: 14px; }

.Header-searchBoxContainer .Header-searchInput::-moz-placeholder {
  /* Firefox 19+ */
  color: #CCCCCC;
  font-size: 14px; }

.Header-searchBoxContainer .Header-searchInput:-ms-input-placeholder {
  /* IE 10+ */
  color: #CCCCCC;
  font-size: 14px; }

.Header-searchBoxContainer .Header-searchInput:-moz-placeholder {
  /* Firefox 18- */
  color: #CCCCCC;
  font-size: 14px; }

.Header-searchBoxContainer .Header-searchIcon svg {
  width: 24px !important;
  height: 24px !important; }

.Header-searchBoxContainer .Header-searchIcon:hover {
  fill: #026CCF; }

.Header-searchIcon {
  fill: #212121; }

.Header-active {
  fill: #549C05; }

.Header-inMaintenance {
  fill: #EB7B18; }

.Header-commandsToolbar .CwButton-innerLightActive div {
  display: none; }

.Header-commandsToolbar .CwPopOutModal-modal .CwButton-innerLightActive div {
  display: flex !important; }

.Header-computerStatusBar {
  background-color: #CA001A;
  color: #000000; }

.Header-warning {
  background-color: #EB7B18; }

.Header-dashboardButtonContainer .isvg, .Header-dashboardButtonContainer svg {
  width: 18px !important;
  height: 18px !important; }

.Header-arrowBg {
  border-color: transparent transparent #CCCCCC transparent; }

.Header-arrow {
  border-color: transparent transparent #323232 transparent; }

[data-cwid="computer_screen_command_prompt_shell_dropdown_button"] {
  margin-top: -11px; }

.commandPrompt-radioButtons .CwRadioButtonGroup-column {
  width: 160px !important; }

.commandPrompt-copyColumn .CwButton-innerLightActive {
  color: #000000 !important;
  fill: #000000 !important; }

.computerExtraDataFields-maxBackground {
  background-color: #323232; }

.computerExtraDataFields-extraHeaderButtons [data-cwid="computer_extra_data_fields_edit_button"] .CwButton-innerLightActive svg {
  fill: #026CCF; }

[data-cwid="computer_extra_data_fields_modal_background"] .CwPopOutModal-modalExpanded .CwPopOutModal-modalHeader .CwPopOutModal-title {
  margin-left: 24px; }

[data-cwid="computer_extra_data_fields_modal_background"] .CwPopOutModal-modalExpanded [data-cwid="computer_extra_data_fields_section_dropdown_field"] {
  margin-left: 24px; }

[data-cwid="computer_extra_data_fields_modal_background"] .CwPopOutModal-modalExpanded .computerExtraDataFields-dataFieldsContainer {
  margin-left: 24px; }

[data-cwid="computer_extra_data_fields_modal_background"] .CwPopOutModal-modalExpanded .CwPopOutModal-actionButtons {
  margin-right: 8px; }

.CwPopOutModal-modalHeader svg {
  width: 24px !important;
  height: 24px !important; }

.Overview-overview {
  background-color: #000000;
  border-color: #E6E6E6; }

.Overview-icon {
  fill: #212121; }

.Overview-antiVirusIcon svg {
  fill: #549C05; }

.Overview-antiVirusIcon.Overview-failed svg {
  fill: #CA001A; }

.Overview-icon.Overview-online {
  fill: #549C05; }

.Overview-bottomBarFill {
  background-color: #000000; }

.Overview-expandCollapseIcon:hover {
  fill: #026CCF; }

.Overview-section:not(:last-child) {
  border-right-color: #E6E6E6; }

.Overview-groupTitle {
  color: #212121; }

.Overview-expandCollapseIcon {
  fill: #212121; }

.Overview-invalid {
  color: #CA001A; }

.Overview-addCommentButton .CwButton-innerLightActive {
  height: 24px; }
  .Overview-addCommentButton .CwButton-innerLightActive div {
    width: 18px;
    height: 18px; }

.Overview-thresholdFailed {
  color: #CA001A; }

.Overview-thresholdWarning {
  color: #EB7B18; }

.ContactDropdown-managerTarget .CwButton-innerLightActive {
  font-size: 12px;
  line-height: 14px;
  height: 14px;
  padding: 0; }
  .ContactDropdown-managerTarget .CwButton-innerLightActive div {
    width: 18px;
    height: 18px; }

.ContactDropdown-dropDownButton .CwButton-innerLightActive {
  font-weight: normal; }

.StorageChart-driveLetter {
  color: #7D7D7D; }

.StorageChart-changeOverTimeArrow {
  fill: #212121; }

.StorageChart-warning {
  fill: #CA001A; }

.StorageChart-storageChart .chartBackground {
  fill: #E6E6E6; }

.MaxTileLeftNav-container {
  border-right-color: #E6E6E6; }

.MaxTileShell-container {
  background-color: #323232; }

.MaxTileShell-tile {
  background-color: #000000;
  border-color: #E6E6E6; }

.deviceScreen-overviewContainer {
  background-color: #323232; }

.deviceScreen-formFieldLabel {
  color: #7D7D7D; }

.CwRadioButtonGroup-radioButton {
  padding-right: 16px; }

.CwRadioButton-control input:checked ~ .CwRadioButton-controlIndicator:after,
.CwRadioButton-controlDisabled input:checked ~ .CwRadioButton-controlIndicator:after,
.CwRadioButton-control input:checked ~ .CwRadioButton-controlIndicatorInvalid:after,
.CwRadioButton-controlDisabled input:checked ~ .CwRadioButton-controlIndicatorInvalid:after,
.CwRadioButton-control .CwRadioButton-controlIndicatorInvalid:after,
.CwRadioButton-controlDisabled .CwRadioButton-controlIndicatorInvalid:after {
  top: 3px !important;
  left: 3px !important; }

.deviceScreen-background > .Header-header {
  background-color: #000000;
  border-bottom-color: #323232;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3); }

.Header-toolbar .CwDropdown-dropDown {
  position: fixed; }

.Header-deviceHeaderInfo .Header-deviceClientLocation {
  color: #7D7D7D; }

.Header-deviceHeaderInfo .Header-deviceName {
  color: #7D7D7D; }

.Header-deviceHeaderInfo .Header-deviceUser {
  color: #7D7D7D; }
  .Header-deviceHeaderInfo .Header-deviceUser .CwButton-innerLightActive {
    color: #7D7D7D;
    padding: 0;
    font-size: 14px;
    height: 20px; }
    .Header-deviceHeaderInfo .Header-deviceUser .CwButton-innerLightActive div {
      height: 18px;
      width: 18px; }
    .Header-deviceHeaderInfo .Header-deviceUser .CwButton-innerLightActive svg {
      fill: #7D7D7D; }
  .Header-deviceHeaderInfo .Header-deviceUser .CwButton-innerLightActive:hover svg {
    fill: #026CCF; }
  .Header-deviceHeaderInfo .Header-deviceUser .CwDropdown-dropDownItem {
    line-height: 16px; }

.Header-headerButton .CwButton-innerLight,
.Header-headerButton .CwButton-innerLightActive,
.Header-navToolbarButtons .CwButton-innerLight,
.Header-navToolbarButtons .CwButton-innerLightActive {
  font-size: 14px !important; }

.Header-searchBoxContainer .Header-searchInput::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #CCCCCC;
  font-size: 14px; }

.Header-searchBoxContainer .Header-searchInput::-moz-placeholder {
  /* Firefox 19+ */
  color: #CCCCCC;
  font-size: 14px; }

.Header-searchBoxContainer .Header-searchInput:-ms-input-placeholder {
  /* IE 10+ */
  color: #CCCCCC;
  font-size: 14px; }

.Header-searchBoxContainer .Header-searchInput:-moz-placeholder {
  /* Firefox 18- */
  color: #CCCCCC;
  font-size: 14px; }

.Header-searchBoxContainer .Header-searchIcon svg {
  width: 24px !important;
  height: 24px !important; }

.Header-searchBoxContainer .Header-searchIcon:hover {
  fill: #026CCF; }

.Header-searchIcon {
  fill: #212121; }

.Header-active,
.Header-success {
  fill: #549C05; }
  .Header-active .isvg, .Header-active svg,
  .Header-success .isvg,
  .Header-success svg {
    fill: #549C05; }

.Header-failed {
  fill: #CA001A; }
  .Header-failed .isvg, .Header-failed svg {
    fill: #CA001A; }

.Header-inMaintenance {
  fill: #EB7B18; }

.Header-commandsToolbar .CwButton-innerLightActive div {
  display: none; }

.Header-deviceStatusBar {
  background-color: #CA001A;
  color: #000000; }

.Header-warning {
  background-color: #EB7B18; }

.Header-dashboardButtonContainer .isvg, .Header-dashboardButtonContainer svg {
  width: 18px !important;
  height: 18px !important; }

.Header-netMapButton .CwButton-innerLightActive {
  font-size: 14px; }

.Header-netMapButton svg {
  margin-top: 3px; }

.Overview-overview {
  background-color: #000000;
  border-color: #E6E6E6; }

.Overview-icon {
  fill: #212121; }

.Overview-probeAgentIcon svg {
  fill: #549C05; }

.Overview-icon.Overview-online {
  fill: #549C05; }

.Overview-bottomBarFill {
  background-color: #000000; }

.Overview-expandCollapseIcon:hover {
  fill: #026CCF; }

.Overview-section:not(:last-child) {
  border-right-color: #E6E6E6; }

.Overview-groupTitle {
  color: #212121; }

.Overview-expandCollapseIcon {
  fill: #212121; }

.Overview-invalid {
  color: #CA001A; }

.Overview-addCommentButton .CwButton-innerLightActive {
  height: 24px; }
  .Overview-addCommentButton .CwButton-innerLightActive div {
    width: 18px;
    height: 18px; }

.Overview-thresholdFailed {
  color: #CA001A; }

.Overview-thresholdWarning {
  color: #EB7B18; }

.ContactDropdown-managerTarget .CwButton-innerLightActive {
  font-size: 12px;
  line-height: 14px;
  height: 14px;
  padding: 0; }
  .ContactDropdown-managerTarget .CwButton-innerLightActive div {
    width: 18px;
    height: 18px; }

.ContactDropdown-dropDownButton .CwButton-innerLightActive {
  font-weight: normal; }

.normalTiles-normalTiles {
  background: #323232; }

.normalTiles-ignoreRemoveLastPadding .CwTile-tile {
  padding-right: 20px !important; }

.MonitorsTile-monitorInfo,
.ScriptsTile-infoPopper,
.CommandsTile-commandInfo {
  background-color: #000000;
  border-color: #E6E6E6;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3); }

.MonitorsTile-monitorInfoArrowBg,
.ScriptsTile-infoArrowBg,
.CommandsTile-commandInfoArrowBg {
  border-color: transparent transparent transparent #CCCCCC; }

.MonitorsTile-monitorInfoArrow,
.ScriptsTile-infoArrow,
.CommandsTile-commandInfoArrow {
  border-color: transparent transparent transparent #000000; }

.MonitorsTile-rowIconTarget:hover svg,
.ScriptsTile-rowIconTarget:hover svg {
  fill: #026CCF; }

.ScriptsTile-fullDiagnosticContainer {
  background-color: #E6E6E6; }

.AlertsTile-alertAgeCell,
.StorageTile-storageInfoMessage,
.MonitorsTile-ageColumn,
.MonitorsTile-timestamp,
.SoftwareTile-panelNoResults,
.SoftwareTile-softwareDateCell,
.SoftwareTile-tileFooter,
.SystemTile-label,
.ScriptsTile-popperTimestamp {
  color: #7D7D7D; }

.HardwareTile-hardwareInfoLabel {
  color: #212121;
  font-weight: 500; }

.PatchingTile-patchingInfoGroup .PatchingTile-value {
  color: #383838; }

.ServicesTile-servicesCountContainer .ServicesTile-number {
  color: #CA001A; }

.SoftwareTile-blacklisted td:not(:last-child) {
  color: #CA001A;
  fill: #CA001A; }

.PatchingTile-d3PieChartWarning {
  fill: #EB7B18;
  stroke: #EB7B18; }

.AlertsTile-warning,
.PatchingTile-warning,
.CommandsTile-warning,
.MonitorsTile-warning {
  color: #EB7B18;
  fill: #EB7B18; }

.PatchingTile-d3PieChartFailed,
.ThirdPartyPatchingTile-d3PieChartFailed {
  fill: #CA001A;
  stroke: #CA001A; }

.AlertsTile-failed,
.PatchingTile-failed,
.ThirdPartyPatchingTile-failed,
.CommandsTile-failed,
.ServicesTile-failed,
.MonitorsTile-failed,
.ScriptsTile-failed {
  color: #CA001A;
  fill: #CA001A; }

.PatchingTile-d3PieChartSuccess,
.ThirdPartyPatchingTile-d3PieChartSuccess {
  fill: #549C05;
  stroke: #549C05; }

.PatchingTile-success,
.ThirdPartyPatchingTile-success,
.MonitorsTile-success,
.ScriptsTile-success {
  color: #549C05;
  fill: #549C05; }

.PatchingTile-d3PieChartDisabled,
.ThirdPartyPatchingTile-d3PieChartDisabled {
  fill: #B0B0B0; }

.AlertsTile-info,
.ScriptsTile-info {
  color: #0A92FA;
  fill: #0A92FA; }

.ServicesTile-serviceRow:hover div, .ServicesTile-serviceRow:hover svg, .ServicesTile-serviceRow:hover td {
  color: #026CCF;
  fill: #026CCF; }

.ScriptsTile-rightActionsContainer .CwButton-innerLightActive {
  font-size: 12px; }

.StorageTile-rightActionsContainer .CwButton-innerLightActive {
  font-size: 12px; }

.networkMap-leftPane {
  border-right-color: #E6E6E6;
  background-color: #000000; }

.networkMap-bottomPane {
  border-top-color: #E6E6E6;
  background-color: #000000;
  z-index: 1; }

.LeftPane-gridFooter {
  background-color: #000000;
  border-top-color: #E6E6E6; }

.LeftPane-resetSearch {
  fill: #212121; }

.LeftPane-resetSearch:hover {
  fill: #026CCF; }

.D3NetworkMap-mapCanvas {
  background-color: #000000; }

[data-type='node-container'] [node-image] {
  fill: #212121; }

[data-type='node-container'][node-online=false] [node-circle] {
  stroke: #CA001A !important; }

[data-type='node-container'][node-online=false] [node-image] {
  fill: #CA001A; }

[data-type='node-container']:hover [node-circle] {
  stroke: #026CCF !important; }

[data-type='node-container'][node-online=false]:hover [node-circle] {
  stroke: #CA001A !important; }

[data-type='node-container'][data-active=true] [node-circle] {
  fill: #026CCF !important;
  stroke: #026CCF !important; }

[data-type='node-container'][data-active=true] [node-image] {
  fill: #000000 !important; }

[data-type='node-container'][node-online=false][data-active=true] [node-circle] {
  fill: #CA001A !important;
  stroke: #CA001A !important; }

[data-type='node-container'][node-online=false][data-active=true] [node-image] {
  fill: #000000 !important; }

[node-circle], [node-connector-circle] {
  fill: #000000;
  stroke: #7D7D7D; }

[parent-online=false] [node-connector-circle] {
  stroke: #CA001A !important; }

.D3NetworkMap-networkMapLink {
  fill: none;
  stroke: #7D7D7D; }

[link-online=false] {
  stroke: #CA001A; }

.D3NetworkMap-selectedNodeBox {
  stroke: #026CCF; }

.D3NetworkMap-mouseInfo {
  background-color: #323232;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3); }
  .D3NetworkMap-mouseInfo [data-mouse-info-title=true] {
    color: #212121; }
  .D3NetworkMap-mouseInfo [data-mouse-info-subtitle=true] {
    color: #7D7D7D; }

.mouseInfoTitle {
  color: #212121; }

.mouseInfoSubtitle {
  color: #7D7D7D; }

.D3NetworkMap-leafNodeLabelBox {
  fill: #000000; }

.D3NetworkMap-leafNodeLabelText {
  fill: #212121; }

.D3NetworkMap-mapControlsContainer, .D3NetworkMap-mapControlsContainerRight {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3); }

.mapControlButton {
  background-color: #000000; }

.D3NetworkMap-automateIconBg {
  fill: #000000; }

.agentStatusSvgPath {
  fill: #212121; }

.barBg {
  fill: #323232;
  stroke: #E6E6E6; }

[inkbar-label-prefix] {
  fill: #212121; }

[inkbar-label-suffix] {
  fill: #212121; }

.BottomPane-bottomPane {
  background-color: #323232; }

.BottomPane-paneContent {
  border-left-color: #E6E6E6;
  background-color: #000000; }

.BottomPane-groupLabel {
  color: #7D7D7D; }

.BottomPane-columnHeader {
  color: #212121; }

.BottomPane-deviceStatus.BottomPane-offline {
  color: #CA001A; }

.BottomPane-deviceStatus.BottomPane-online {
  color: #549C05; }

.BottomPane-overviewContainer:not(:first-child) {
  border-left-color: #E6E6E6; }

.agentPushSettings-header label {
  color: #7D7D7D; }

.agentPushSettings-storedPass label {
  color: #7D7D7D; }

.agentPushSettings-passAttempt label {
  color: #7D7D7D; }

.CwCheckBox-controlDisabled {
  color: #B0B0B0; }

.agentPushSettings-agentPushContainer .CwFilterList-list:disabled {
  background-color: #000000; }

.agentPushSettings-instructionText {
  color: #B0B0B0; }

.agentPushSettings-wrap select {
  border-color: #CCCCCC; }

.agentPushSettings-addCreds svg {
  color: #212121; }

.agentPushSettings-removeCreds svg {
  color: #212121; }

/*Make the add password icon 18x18*/
.agentPushSettings-addPasswordButton .CwButton-innerLightActive div {
  width: 18px;
  height: 18px; }

.receiveSettings-enableCheckbox label {
  color: #212121; }

.receiveSettings-ipFilter ::placeholder {
  color: #B0B0B0; }

.scanSettings-TFLabel.scanSettings-focused {
  color: #026CCF; }

.scanSettings-scanContainer .header {
  color: #212121; }

.scanSettings-MvRight {
  color: #212121; }

.scanSettings-warningMessage {
  color: #7D7D7D; }

.scanSettings-TFLabel {
  color: #7D7D7D; }

.scanSettings-instructionText {
  color: #B0B0B0; }

.scanSettings-scanWindowContainer {
  color: #212121; }

.communitySettings-commaSeperatedLabel {
  color: #7D7D7D; }

.communitySettings-secondsLabel {
  color: #212121; }

.communitySettings-betweenLabel {
  color: #7D7D7D; }

.snmpV3Settings-header {
  color: #212121; }

.snmpV3Settings-methodCombo {
  color: #7D7D7D; }

.snmpV3Settings-warningMessage {
  color: #7D7D7D; }

.networkProbe-line {
  background-color: #E6E6E6; }

.subnets-gridHeaderRow {
  border-bottom-color: #E6E6E6; }

.subnets-noContentInGrid span {
  color: #7D7D7D; }

.subnets-gridFooter {
  border-top-color: #E6E6E6; }

.subnets-subnetsContainer {
  border-color: #E6E6E6; }

div#subnets-subnets {
  border-color: #E6E6E6; }

[data-cwid="subnets_delete_subnet_dialog_button_yes"] div {
  color: #026CCF; }

[data-cwid="subnets_delete_excluded_ip_dialog_button_yes"] div {
  color: #026CCF; }

.networkProbe-networkProbeContainer .CwCheckBox-control:hover label {
  color: #026CCF; }

.networkProbe-saveCancelButtons div [type="button"]:disabled {
  background-color: #B0B0B0 !important; }

.networkProbe-saveCancelButtons div [type="button"] {
  background-color: #0A92FA; }

.networkProbe-saveCancelButtons div [type="button"]:hover {
  background-color: #026CCF; }

.networkProbe-maxTileSaveCancelButtons div [type="button"]:disabled {
  background-color: #B0B0B0 !important; }

.networkProbe-maxTileSaveCancelButtons div [type="button"] {
  background-color: #0A92FA; }

.networkProbe-maxTileSaveCancelButtons div [type="button"]:hover {
  background-color: #026CCF; }

.networkProbe-helpLink svg {
  fill: #212121; }

.networkProbe-helpLink svg:hover {
  fill: #026CCF; }

.networkProbe-maxTileTabContainer .CwToolbar-cwToolbar {
  border-top-color: #000000; }

input[type="button"] {
  background-color: #026CCF;
  color: #000000; }

.networkProbeWizard-finishDialog svg {
  fill: #60B006; }

.networkProbeWizard-bodyContainer .CwCheckBox-control:hover label {
  color: #026CCF; }

.networkProbeWizard-warningIcon svg {
  fill: #EB7B18; }

.enableProbeTooltip-tooltipInfo {
  background-color: #000000;
  border-color: #E6E6E6;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3); }

.enableProbeTooltip-probeTooltipArrowBg {
  border-color: transparent transparent transparent #CCCCCC; }

.enableProbeTooltip-probeTooltipArrow {
  border-color: transparent transparent transparent #000000; }

.networkProbeOverview-headerContainer {
  border-bottom-color: #E6E6E6; }

.networkProbeOverview-header {
  color: #212121; }

div[data-cwid=NetworkProbeOverview_tiles_total_devices] {
  border-color: #E6E6E6; }

div[data-cwid=NetworkProbeOverview_tiles_offline] {
  border-color: #E6E6E6; }

div[data-cwid=NetworkProbeOverview_tiles_missing_agents] {
  border-color: #E6E6E6; }

.discoveryScanTimer-valueBox {
  border-color: #E6E6E6; }

.informationContainer-labelHeader {
  color: #7D7D7D; }

.login-textFieldMessage.login-error {
  color: #CA001A; }

.login-fieldLabel {
  color: #7D7D7D; }

.login-login {
  background-color: #323232; }

.login-loginContainer {
  background-color: #000000;
  border-color: #CCCCCC;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3); }

.login-label {
  color: #7D7D7D;
  font-weight: 500; }

[data-cwid="login_button_forgot_password"] .CwButton-innerLightActive {
  color: #0A92FA; }

[data-cwid="login_button_forgot_password"]:hover .CwButton-innerLightActive:hover {
  color: #026CCF; }
